@model Category

<div class="modal-edit-category modal fade" tabindex="-1" role="dialog" aria-labelledby="editCategoryLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edit Category</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
				<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body">
				<form id="editCategory" method="post" asp-controller="Category" asp-action="Edit" asp-route-id="@Model.Id"  class="needs-validation" novalidate>
					<input type="hidden" id="editCategoryId" name="Id" value="@Model.Id" />
					<div class="mb-3">
						<label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" id="categoryName" class="form-control" value="@Model.Name" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="DisplayOrder" class="form-label"></label>
                        <input asp-for="DisplayOrder" id="displayOrder" type="number" class="form-control" value="@Model.DisplayOrder" min="1" required />
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="submit" form="editCategory" class="btn btn-primary">Save Changes</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
	</div>